{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "parser": "babel-eslint",
  "globals":{
    "document":true,
    "fetch":true,
    "window":true
  }
}